[user]
    name = Taishi Kasuga
    email = supercaracal@yahoo.com
[diff]
    external = gitvimdiff
[pager]
    diff =
[alias]
    logg = log --oneline --format=format:'%cn\t%G?\t[%h]\t%ar\t%s'
[color]
    ui = auto
[push]
    default = nothing
[init]
    defaultBranch = main
